{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<main role="main">
    <div class="album py-7 bg-light">
            <div class="container">
        <h1 class="text-center pt-3">{{ username }} Private Records</h1>
        <br/>
        <br/>
        <h2 class="text-left pt-3">LATEST POSTS</h2>
        <br/>
        <br/>
        <hr/>
            <div class="container">
            {% for blog in getblogs.all %}
                <div class="row">
                    <div class="col-md-8">

                            <a href="{% url 'detail' blog.id %}"><h3 class="card-title">{{ blog.title }}</h3></a>
                            <h5>{{ username }}</h5>
                            <h6>{{ blog.pub_date_pretty }}</h6>
                            <p class="card-text">{{ blog.summary }}</p>

                    </div>
                    <div class="col-md-4">
                        <img class="card-img-top" src="{{ blog.image.url }}"/>

                    </div>
                </div>
                <br/>
                <br/>
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}