{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Greetings, {{ user }}!</h1>
            <h2></h2>
          <p class="lead text-muted">Try logging in and creating private records that only you can view.</p>
          <p>
            <a href="mailto:dr.syaril@gmail.com" class="btn btn-primary my-2">Email Creator</a>
            <a href="{% url 'allblogs' %}" class="btn btn-secondary my-2">Your Private Records</a>
          </p>
            <img src="{% static 'doctor.png' %}" />
        </div>

      </section>

      <div class="album py-5 bg-light">
        <div class="container">
                  <div class="row">
        {%  for job in jobs.all %} 

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ job.image.url }}" alt="{{ job.image }}"/>
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
            </div>


        {% endfor %}
                  </div>
        </div>
      </div>

    </main>

{% endblock %}
